.bash_history
.nyc_output
.DS_Store
.tarima
.jscpd
.env
*.log
*.todo
*.sqlite
codecov.sh
build
pgdata
chrome
*coverage
generated
screenshots
asciidocfx*
node_modules
etc/mailer/*
etc/schema/types
etc/schema/models
