include ../mixins/helpers

heml
  head
    block head
      subject Test subject

    style
      include ../partials/style.css

  body
    .main-content
      include ../partials/header

      .content-body
        block body

      include ../partials/footer
