include ../mixins/helpers

mjml
  mj-head
    block head

    mj-attributes
      include ../partials/styles

  mj-body(mj-class='body')
    mj-wrapper(mj-class='wrapper')
      include ../partials/header

      mj-section(mj-class='content')
        block body

      include ../partials/footer
