.body
  h1 Grown
  p= pkg.description

  .sp
    a(href='//travis-ci.org/pateketrueke/grown' target='_blank')
      img(src='//api.travis-ci.org/pateketrueke/grown.svg')

    a(href='//codecov.io/gh/pateketrueke/grown' target='_blank')
      img(src='//codecov.io/gh/pateketrueke/grown/branch/master/graph/badge.svg')

  ul.mt.reset
    li
      h3.reset APIs
      ul.pl.reset
        li: +linkTo('/', 'Installation')
        li: +linkTo('/docs', 'The interface')
        li: +linkTo('/docs/command-line', 'Command line')
    li
      h3.reset Add-ons
      ul.pl.reset
        li
          +linkTo('/docs/extensions', 'Extensions')
          if url.indexOf('/docs/extensions') === 0
            ul.pl.reset
              li: +linkTo('/docs/extensions/access', 'Access')
              li: +linkTo('/docs/extensions/bud', 'Bud')
              li: +linkTo('/docs/extensions/cli', 'CLI')
              li: +linkTo('/docs/extensions/conn', 'Conn')
              li: +linkTo('/docs/extensions/graphql', 'GraphQL')
              li: +linkTo('/docs/extensions/grpc', 'GRPC')
              li: +linkTo('/docs/extensions/logger', 'Logger')
              li: +linkTo('/docs/extensions/model', 'Model')
              li: +linkTo('/docs/extensions/parsers', 'Parsers')
              li: +linkTo('/docs/extensions/render', 'Render')
              li: +linkTo('/docs/extensions/repl', 'REPL')
              li: +linkTo('/docs/extensions/router', 'Router')
              li: +linkTo('/docs/extensions/schema', 'Schema')
              li: +linkTo('/docs/extensions/server', 'Server')
              li: +linkTo('/docs/extensions/session', 'Session')
              li: +linkTo('/docs/extensions/static', 'Static')
              li: +linkTo('/docs/extensions/tarima', 'Tarima')
              li: +linkTo('/docs/extensions/test', 'Test')
              li: +linkTo('/docs/extensions/upload', 'Upload')
        li: +linkTo('/docs/connection', 'Connection')
        li: +linkTo('/docs/middlewares', 'Middlewares')
    li
      h3.reset Data-layer
      ul.pl.reset
        li: +linkTo('/docs/database', 'Models')
        if url.indexOf('/docs/database') === 0
          ul.pl.reset
            li: +linkTo('/docs/database/backups', 'Backups')
            li: +linkTo('/docs/database/migrations', 'Migrations')
        li: +linkTo('/docs/validation', 'Schemas')
        if url.indexOf('/docs/validation') === 0
          ul.pl.reset
            li: +linkTo('/docs/validation/graphql', 'GraphQL')
            li: +linkTo('/docs/validation/json-schema', 'JSON-Schema')
            li: +linkTo('/docs/validation/protobuf', 'Protocol Buffers')
    li
      h3.reset Controllers
      ul.pl.reset
        li: +linkTo('/docs/controllers', 'Web')
        li: +linkTo('/docs/controllers/grpc', 'GRPC')
        li: +linkTo('/docs/controllers/graphql', 'GraphQL')
    li
      h3.reset Unit-testing
      ul.pl.reset
        li: +linkTo('/docs/testing', 'Server')
        li: +linkTo('/docs/testing/schema', 'Schema')
        li: +linkTo('/docs/testing/handlers', 'Handlers')
