//- FIXME: convert from regular css rules elsewhere?
mj-class(name='link' background-color='#4d4d4d')
mj-class(name='body' background-color='#fff')
mj-class(name='footer' text-align='center')
mj-class(name='company' text-align='center')
mj-all(font-family='Lato, sans-serif')
