@bg-color: #FFFFFF;

@lo-silver: #EBEBEB;
@hi-silver: #FBFBFB;

@lo-gray: #37474F;
@hi-gray: #90A4AE;

@lo-red: #900C3F;
@hi-red: #C70039;

@lo-blue: #0881A3;
@hi-blue: #0074E4;

@lo-green: #596C68;
@hi-green: #95A792;

.lo-gray-bg { background-color: @lo-gray; color: @hi-silver; }
.lo-gray-fg { color: @lo-gray; }
.hi-gray-bg { background-color: @hi-gray; color: @hi-silver; }
.hi-gray-fg { color: @hi-gray; }

.lo-red-bg { background-color: @lo-red; color: @hi-silver; }
.lo-red-fg { color: @lo-red; }
.hi-red-bg { background-color: @hi-red; color: @hi-silver; }
.hi-red-fg { color: @hi-red; }

.hi-blue-bg { background-color: @hi-blue; color: @hi-silver; }
.hi-blue-fg { color: @hi-blue; }
.lo-blue-bg { background-color: @lo-blue; color: @hi-silver; }
.lo-blue-fg { color: @lo-blue; }

.lo-green-bg { background-color: @lo-green; color: @hi-silver; }
.lo-green-fg { color: @lo-green; }
.hi-green-bg { background-color: @hi-green; color: @hi-silver; }
.hi-green-fg { color: @hi-green; }
