extends ../layout/email

block emailSubject
  subject Password recovery request

block emailContent
  include ../mixins/helpers

  b Hi {{name}},
  p Please use the following link to reset your password.
  p
    | If you did not submit a request to reset your password, please reply to this email and let us know.

  +link(`{{webBaseUrl}}/reset-password/{{token}}`, 'Reset password')
  +regards
