ul
  li: a(href='/docs/initialization') Initialization
  li: a(href='/docs/interactive-mode') Interactive mode
  li: a(href='/docs/controllers') Controllers
    ul
      li: a(href='/docs/controllers#routing') Routing
      li: a(href='/docs/controllers#definition') Definition
      li: a(href='/docs/controllers#end-responses') End responses
      li: a(href='/docs/controllers#testing-actions') Testing actions
      li: a(href='/docs/controllers#interactive-mode-fetch') Interactive mode (fetch)
  li: a(href='/docs/models') Models
    ul
      li: a(href='/docs/models#json-schema') JSON-Schema
      li: a(href='/docs/models#model-syncing') Model syncing
      li: a(href='/docs/models#testing-models') Testing models
      li: a(href='/docs/models#interactive-mode-models') Interactive mode (models)
  li: a(href='/docs/views') Views
    ul
      li: a(href='/docs/views#functions-as-templates') Functions as templates
      li: a(href='/docs/views#pre-compiled-templates') Pre-compiled templates
      li: a(href='/docs/views#layouts-blocks') Layouts & blocks
      li: a(href='/docs/views#testing-views') Testing views
      li: a(href='/docs/views#interactive-mode-render') Interactive mode (render)
  li: a(href='/docs/booting') Booting
    ul
      li: a(href='/docs/booting#server') Server
      li: a(href='/docs/booting#api') API
      li: a(href='/docs/booting#hooks') Hooks
      li: a(href='/docs/booting#plugins') Plugins
      li: a(href='/docs/booting#middlewares') Middlewares
      li: a(href='/docs/booting#testing-the-app') Testing the app
      li: a(href='/docs/booting#interactive-mode-reload') Interactive mode (reload)
  li: a(href='/docs/assets') Assets
    ul
      li: a(href='/docs/assets#static-files') Static files
      li: a(href='/docs/assets#javascripts') Javascripts
      li: a(href='/docs/assets#stylesheets') Stylesheets
      li: a(href='/docs/assets#images-sprites') Images & Sprites
      li: a(href='/docs/assets#templating-views') Templating (views)
