- var segment = self && self.parent.split('/').slice(2).join('/').replace(/\.\w+$/, '')
- var url = `/${segment || ''}`;

mixin linkTo(href, title)
  if href === url
    strong
      a.here(href=href)= title
  else
    a(href=href)= title
  if block
    block

.body
  h1 Grown
  p Experimental DSL for web applications

  .sp
    a(href='//travis-ci.org/pateketrueke/grown' target='_blank')
      img(src='//api.travis-ci.org/pateketrueke/grown.svg')

    a(href='//codecov.io/gh/pateketrueke/grown' target='_blank')
      img(src='//codecov.io/gh/pateketrueke/grown/branch/master/graph/badge.svg')

  ul.mt.reset
    li: +linkTo('/', 'Installation')
    li: +linkTo('/docs', 'The interface')
    li: +linkTo('/docs/command-line', 'Command line')
    li: +linkTo('/docs/extensions', 'Extensions')
    li: +linkTo('/docs/middleware', 'Middleware')
    li: +linkTo('/docs/connection', 'Connection')
