body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

h2 {
  font-size: 25px;
  font-weight: 300;
}

img {
  max-width: 100%;
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

pre {
  overflow: auto;
}

aside {
  ul {
    padding: 0;
    list-style-type: none;

    ul {
      margin-left: 1em;
    }
  }
}

@media screen and (min-width: 50em) {
  main {
    margin-left: 15em;
    padding: 0 .5em;
  }

  aside {
    max-width: 15em;
    position: fixed;
    overflow: auto;
    bottom: 0;
    top: 0;
  }
}
