#wrapper {
  position: relative;
  height: 100%;
}

#content {
  height: 100%;
  color: @lo-gray;
  background-color: #FFFFFF;
}

@media screen and (min-width: 640px) {
  #wrapper {
    max-width: 940px;
    margin: 0 auto;
  }

  #sidebar {
    overflow: auto;
    position: fixed;
    width: 220px;
    bottom: 0;
    top: 0;
  }

  #content {
    margin-left: 220px;
  }
}
